p a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

p a:visited {
    color: #265778; /* block-normal-text-normal */
}

.content {
  padding-top: 40px !important;
}

.pure-menu-heading {
  font-size: 125%;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #fff;
  margin-top: 0;
  padding: 0.5em 0.8em;
}

.content table {
  width: 100%;
}

.content td.no-stretch {
  width: 1%;
  white-space: nowrap;
}

.content .field-name p {
  font-weight: 700;
}

.navi-buttons {
  margin: 30px auto;
  text-align: center;
}

.center {
  text-align: center !important;
  margin: 0 auto !important;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}